 @use "../../styles/partials/variables" as *;
 @use "../../styles/partials/mixins" as *;
 
 .about {
    padding: 0 1rem;

    @include tablet {
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include desktop {
        padding: 0 15rem;
    }

    &__header-title {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;

        @include tablet {
            margin-top: 2.25rem;
            margin-bottom: 1.5rem;
        }
    }

    &__second-title {
        margin-bottom: 1rem;
        text-align: center;

        @include tablet {
            margin-bottom: 1.5rem;
        }
    }

    &__headshot-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__headshot {
        width: 100%;
        max-width: 30rem;
    }

    &__picture-container {
        @include tablet {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__picture {
        width: 100%;
        max-width: 60rem;
    }

    &__paragraph {
        margin: 1rem 0;

        @include tablet {
            margin: 1.5rem 0;
        }

        @include desktop {
            padding: 0 7.5rem;
        }
    }

    &__center-container-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__center-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__certifcation-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include tablet {
            justify-items: center;
        }

        @include desktop {
            flex-direction: row;
            justify-content: space-around;
            padding: 0 7.5rem;
        }
    }

    &__certification-sub-container {
        margin-right: 0rem;

        @include tablet {
            margin-right: 1.5rem;
        }
    }

    &__list {
        list-style-type: none;
        margin-bottom: 1.5rem;

        @include tablet {
            margin-bottom: 2.25rem;
        }
    }

    &__list-item {
        margin-bottom: 0.5rem;

        @include tablet {
            margin-bottom: 0.75rem;
        }
    }

    &__achievements {
        margin-bottom: 1.5rem;

        @include tablet {
            margin-bottom: 2.25rem;
        }
    }
 }
