@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.gallery {
    padding: 0 1rem;
    text-align: center;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 5rem;
    }
}