//breakpoints
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//colour variables
$primary-red: #C10206;
$secondary-red: #A50113;
$primary-white: #FFFBF2;
$primary-grey: #f1f3f4;
$secondary-grey: #666;
$plain-white: #ffffff;
$plain-black: #000000;
$primary-black: #211D21;
$secondary-black: #010A10;