@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    &__image {
        width: 100%;
        margin-bottom: 0;
    }

    &__intro-block {
        margin-top: -0.5rem;
        background-color: $primary-black;
        padding: 1.5rem 1rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 1rem;

        &--second {
            text-decoration: underline;
            text-underline-offset: 0.5rem;
        }
    }

    &__player {
        width: 100%;
        color: $plain-white;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }

    &__checkmark {
        margin-right: 0.5rem;
    }

    &__cta-block {
        margin-top: -0.5rem;
        background-color: $primary-black;
        padding: 1.5rem 1rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
    }
}