@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home-intro {
    padding: 0 1rem;
    text-align: center;

    @include tablet {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include desktop {
        padding: 0 5rem;
    }

    &__container {
        @include tablet {
            width: 70%;
        }

        @include desktop {
            width: 55%;
        }

        &--extra-bottom-margin {
            margin-bottom: 3rem;
        }
    }

    &__title {
        margin: 3rem 0 1rem 0;

        &--less-margin {
            margin-bottom: 1rem;
        }
    }

    &__list {
        list-style-type: none;
        margin-bottom: 1.5rem;

        @include tablet {
            margin-bottom: 3rem;
        }
    }

    &__list-item {
        margin-bottom: 0.5rem;
    }
}

.home-services {

    &__container {
        padding: 0 1rem;
        text-align: center;

        @include tablet {
            padding: 0 2rem;
        }

        @include desktop {
            padding: 0 5rem;   
        }
    }

    &__offering-list {
        margin-bottom: 1.5rem;

        @include tablet{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 2.5rem;
        }
    }
}

.home-sucess-stories {
    padding: 0 1rem;
    text-align: center;

    @include tablet {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include desktop {
        padding: 0 5rem;
    }

    &__container {
        @include tablet {
            width: 70%;
        }

        @include desktop {
            width: 55%;
        }
    }

    &__title {
        margin: 1rem 0;

        @include tablet {
            margin-top: 2.5rem;
        }
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__logo {
        max-width: 10rem;
        max-height: 10rem;
        margin: 0rem 1rem;

        @include tablet {
            max-width: 12.5rem;
            max-height: 12.5rem;
            margin: 0rem 2rem;
        }

        @include desktop {
            max-width: 15rem;
            max-height: 15rem;
            margin: 0rem 3rem;
        }
    }
}