@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navigation {
    display: none;

    @include tablet {
        display: flex;
        width: 45%;
    }

    @include desktop {
        width: 30%;
    }

    &__list {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        text-decoration: none;
    }

    &__text {
        @include textStyle($plain-white, 1rem, 1.375rem, 600);
        transition: transform 0.5s ease;
        
        @include desktop {
            @include textStyle($plain-white, 1.25rem, 1.375rem, 600);
        }

        &:hover {
            transform: scale(1.1);
        }

        &--current {
            color: $primary-red;
        }
    }
}